<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>{{page.title}}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="/assets/stylesheets/base.css" />
    <link rel="stylesheet" href="/assets/stylesheets/skeleton.css" />
    <link rel="stylesheet" href="/assets/stylesheets/syntax.css" />
    <link rel="stylesheet" href="/assets/stylesheets/layout.css" />

    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
    <body>
        <a id="home"> </a>
        <a href="https://github.com/alistairstead/Mage-Test"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://a248.e.akamai.net/camo.github.com/ce742187c818c67d98af16f96ed21c00160c234a/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f677261795f3664366436642e706e67" alt="Fork me on GitHub"></a>
        <div class="container">
            <div class="sixteen columns header">
                <h1>Mage-Test</h1>
            </div>
            <div class="thirteen columns">
                {{content}}
            </div>
            <div class="three columns" id="sidebar">
                <nav>
                    <p><a class="download" href="https://github.com/alistairstead/Mage-Test/zipball/develop">Download</a></p>
                    <ol>
                        <li><a href="#home">Home</a></li>
                        <li><a href="#requirements">Requirements</a></li>
                        <li><a href="#quickstart">Quickstart</a></li>
                        <li><a href="#feature-request">Feature Request</a></li>
                        <li><a href="#contributing">Contributing</a></li>
                    </ol>
                </nav>
            </div>
        </div>
        <script src="/assets/javascripts/jquery.js"></script>
        <script src="/assets/javascripts/portamento.js"></script>
        <script src="/assets/javascripts/magetest.js"></script>
    </body>
</html>
